{% extends "AppBundle::layout.html.twig" %}

{% block body %}
    <div id="wrapper">
        
    {% include "AppBundle::header.html.twig" %}
    <section id="featured">
			<!-- start slider -->
    <div class="container">
        <div class="page-header">
            <h4>Questions</h4>
        </div>
        
        {% for question in questions %}
            <div class="row">
                <div class="col-md-12">
                    <h5><a href="{{path('question_view',{'question':question.id})}}">{{ question.title }}</a></h5>
                </div>
                <div class="col-md-1">
                    <table>
                        <tr>
                            <td>
                                {% if links_active == true %}
                                    <a href="#" class="upvote" data-question="{{question.id}}">up</a>
                                {% else %}
                                    up
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="total-votes" id="votes-{{question.id}}">
                                {{question.score}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               {% if links_active == true %}
                                    <a href="#" class="downvote" data-question="{{question.id}}">down</a>
                               {% else %}
                                   down
                               {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-11">
                    {{ question.body }}
                </div>
            </div>
        {% endfor %}
    </div>
    </section>
            </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('bundles/app/js/upvote.js')}}"></script>
    <script src="{{asset('bundles/app/js/downvote.js')}}"></script>

{% endblock javascripts %}
