{% extends "AppBundle::layout.html.twig" %}

{% block main %}
    
    <div class="container">
        <div class="page-header">
            <h4>Questions</h4>
        </div>
        <div class="row">
            <div class="col-md-11">&nbsp;</div>
            <div class="col-md-1">
                {% if links_active == false %}
                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary">Ask Question</a>
                {% elseif links_active == true %}
                    <a href="{{ path('question_new') }}" class="btn btn-primary">Ask Question</a>
                {% endif %}
            </div>
        </div>
        {% for question in questions %}
            <div class="row">
                <div class="col-md-12">
                    <h5><a href="{{path('question_view',{'question':question.id})}}">{{ question.title }}</a></h5>
                </div>
                <div class="col-md-1">
                    <table>
                        <tr>
                            <td>
                                <strong>{{ question.score }}</strong>
                                <br /> votes
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>{{ question.answersCount }}</strong>
                                <br /> answers
                            </td>
                        </tr>
                       
                    </table>
                </div>
                <div class="col-md-11">
                    {{ question.body }}
                </div>
            </div>
            <div class="row"><div class="col-md-12">&nbsp;</div></div>
        {% endfor %}
    </div>
            
{% endblock main %}
