{% extends "AppBundle::layout.html.twig" %}

{% block body %}
    <div id="wrapper">
        
    {% include "AppBundle::header.html.twig" %}
    <section id="featured">
			<!-- start slider -->
    <div class="container">
        <div class="page-header">
            <h4>Questions</h4>
        </div>
        
        {% for question in questions %}
            <div class="row">
                <div class="col-md-12">
                    <h5><a href="{{path('question_view',{'question':question.id})}}">{{ question.title }}</a></h5>
                </div>
                <div class="col-md-1">
                    <table>
                        <tr>
                            <td>
                                <strong>{{ question.score }}</strong>
                                <br /> votes
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>{{ question.answersCount }}</strong>
                                <br /> answers
                            </td>
                        </tr>
                       
                    </table>
                </div>
                <div class="col-md-11">
                    {{ question.body }}
                </div>
            </div>
        {% endfor %}
    </div>
    </section>
            </div>
{% endblock body %}
