{% extends "AppBundle::layout.html.twig" %}

{% block body %}
    <div id="wrapper">
        
    {% include "AppBundle::header.html.twig" %}
    <section id="featured">
			<!-- start slider -->
    <div class="container">
        <div class="page-header">
            <h4>Questions</h4>
        </div>
        
        {% for question in questions %}
            <div class="row">
                <div class="col-md-12">
                    <h5>{{ question.title }}</h5>
                </div>
                <div class="col-md-1">
                    <table>
                        <tr>
                            <td><a href="#" class="upvote" data-question="{{question.id}}">up</a></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="total-votes" id="votes-{{question.id}}">
                                {{question.score}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="#">down</a></td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-11">
                    {{ question.body }}
                </div>
            </div>
        {% endfor %}
    </div>
    </section>
            </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('bundles/app/js/upvote.js')}}"></script>
{% endblock javascripts %}
