{% extends "AppBundle::layout.html.twig" %}

{% form_theme form _self %}

{% block main %}
    
 <div class="container">
    <div class="page-header"><h4>Ask Question</h4></div>
    <form novalidate action="" method="post">
  <div class="form-group">
      <div>&nbsp;</div>
    <div class="row">
        <div class="col-md-2">
            {{form_label(form.title)}}
        </div>
        <div class="col-md-4">
            {{form_widget(form.title,{'attr':{'class':'form-control'}})}}
            {{form_errors(form.title)}}
        </div>
    </div>
        <div>&nbsp;</div>
    <div class="row">
        <div class="col-md-2">
            {{form_label(form.body)}}
        </div>
        <div class="col-md-4">
            {{form_widget(form.body,{'attr':{'class':'form-control'}})}}
            {{form_errors(form.body)}}
        </div>
        <div class="col-md-4">
            {{form_widget(form._token)}}
        </div>
    </div>
        <div class="row">
            <div class="col-md-4">
                {% block submit_button %}
                    <button type="submit" class="btn btn-primary">Post Question</button>
                {% endblock submit_button %}
            </div>
        </div>
    </div>
    </form>
    </div>
{% endblock main %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <p class="text-danger">{{ error.message }}</p>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}