{% extends "AppBundle::layout.html.twig" %}

{% block body %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{asset('bundles/app/css/questionView.css')}}" rel="stylesheet" />
    {% endblock stylesheets %}
    <div id="wrapper">
     
    {% include "AppBundle::header.html.twig" %}
    <section id="featured">
        <div class="container">
        <div class="page-header"><h4>{{question_view.title}}</h4></div>
        <div class="row">
            <div class="col-md-1">
                <table>
                        <tr>
                            <td>
                                {% if authenticated == true %}
                                    <a href="#" class="upvote" data-question="{{question_view.id}}"><span class="glyphicon glyphicon-chevron-up"></span></a>
                                {% else %}
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="total-votes" id="votes-{{question_view.id}}">
                                {{question_view.votes}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               {% if authenticated == true %}
                                    <a href="#" class="downvote" data-question="{{question_view.id}}"><span class="glyphicon glyphicon-chevron-down"></span></a>
                               {% else %}
                                   <span class="glyphicon glyphicon-chevron-down"></span>
                               {% endif %}
                            </td>
                        </tr>
                    </table>
            </div>
            <div class="col-md-11">
                <p>
                    {{question_view.body}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                    &nbsp;
            </div>
            <div class="col-md-11">
                Asked by: <a href="#">{{question_view.author.nameLabel}}</a>&nbsp;
                {{question_view.createdAt|date("d.m.'y. G:i")}}h
            </div>
        </div>
        
        {% if question_view.comments|length>0 %}
                
                {% for comment in question_view.comments %}
                    <div class="row">
                        <div class="col-md-2">&nbsp;</div>
                        <div class="col-md-10" style="font-size:small;">
                            {{ comment.body }} - <a href="#">{{ comment.author.nameLabel}}</a>
                            {{ comment.createdAt|date("d.m.'y. G:i")}}h
                        </div>
                    </div>
                {% endfor %}
                
            {% endif %}
        {% if authenticated == false %}
            <div class="row">
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-11">
                    <a href="{{path('question_engage',{'question':question_view.id})}}">add a comment</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="{{path('question_engage',{'question':question_view.id})}}" class="btn btn-default">Your Answer</a>
                </div>
            </div>
        {% else %}
            
            <div class="row">
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-11 comment-form-container">
                    <a href="#" class="add-question-comment" data-question="{{ question_view.id }}">add a comment</a>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <form novalidate id="question-comment-form" method="post" action="{{path('question_comment_new',{'question':question_view.id})}}">
                    <div class="form-group">
                    <div class="row">
                        <div class="col-md-1">&nbsp;</div>
                        <div class="col-md-9">
                            {{form_widget(comment_form.comment,{'attr':{'class':'form-control'}})}}
                            {{form_widget(comment_form._token)}}
                        </div>
                    
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-default">Add Comment</button>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
        {% include "AppBundle:Question:answers.html.twig" %}
        
        {% if authenticated == true %}
        <form novalidate action="" method="post" id="answer-form">
            <div class="form-group">
                <div>&nbsp;</div>

                <div>&nbsp;</div>
                <div class="row">
                    <div class="col-md-2">
                        {{form_label(answer_form.answer)}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{form_widget(answer_form.answer,{'attr':{'class':'form-control'}})}}
                        {{form_errors(answer_form.answer)}}
                        {{form_widget(answer_form._token)}}
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-default">Post your answer</button>
                    </div>
                </div>
            </div>
            </form>
        {% endif %}
    </div>
    </section>
            </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('bundles/app/js/upvote.js')}}"></script>
    <script src="{{asset('bundles/app/js/downvote.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/app/js/questionView.js')}}"></script>
{% endblock javascripts %}
